.tiles-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.tile {
  background-color: rgb(252, 252, 252);
  border-radius: 8px;
  margin: 10px;
  box-shadow: 8px 8px 24px -17px rgba(66, 68, 90, 1);
  transition: 0.6s;
  &__product {
    text-transform: uppercase;
  }
  &:hover {
    transform: scale(1.03);
    background-color: rgb(223, 228, 232);
  }
}

.tile-title {
  text-transform: uppercase;
  font-size: 40px;
}
