.form {
  display: flex;
  justify-content: center;
  min-width: 250px;
  width: 35vw;
  height: 150px;
  margin: 10px auto;
  background-color: rgb(117, 200, 241);
  box-shadow: 8px 8px 24px -11px rgba(66, 68, 90, 1);
  &__input {
    width: 100%;
    margin: 5px 0;
    padding: 5px 0;
    border: none;
  }
  &__container {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  &__button {
    background-color: rgb(19, 128, 216);
    border-radius: 5px;
    color: white;
    padding: 5px 12px;
    margin: 5px 0;
    border: none;
    align-self: flex-start;
    font-weight: bold;
  }
  &__input::placeholder {
    font-size: 10px;
    letter-spacing: 1px;
  }
}
