body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(181, 225, 244);
  font-family: "Saira Condensed", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
